
.DS_Store
.xcodeproj
string_class.xcodeproj/project.pbxproj

string_class.xcodeproj/project.xcworkspace/contents.xcworkspacedata

string_class.xcodeproj/project.xcworkspace/xcuserdata/kandasoft.xcuserdatad/UserInterfaceState.xcuserstate

string_class.xcodeproj/project.xcworkspace/xcuserdata/kandasoft.xcuserdatad/WorkspaceSettings.xcsettings

string_class.xcodeproj/project.xcworkspace/xcuserdata/tyzhinov_roma.xcuserdatad/UserInterfaceState.xcuserstate

string_class.xcodeproj/xcshareddata/xcschemes/string_class.xcscheme

string_class.xcodeproj/xcuserdata/kandasoft.xcuserdatad/xcschemes/xcschememanagement.plist

string_class.xcodeproj/xcuserdata/tyzhinov_roma.xcuserdatad/xcschemes/xcschememanagement.plist

string_class.xcodeproj/xcuserdata/kandasoft.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
